/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    display: grid;
	grid-template-columns: minmax(300px,400px) minmax(600px,1620px);
	grid-template-rows: 100vh;
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.navigation-container, .nav-heading{
	display:flex;
}

.navigation-container {
	flex-direction: column;
	gap: 150px;
	color: #FFFFDD;
	padding: 20px;
	background-color: #61A3BA;
}



.nav-heading{
	flex-direction: row;
	margin: 0 auto;
}
.nav-heading h1{
	margin: auto 0;
}

.nav-links{margin:0 auto;}

.nav-links li{
	margin: 10px;
}

.nav-links li:nth-child(6){
	margin-bottom: 60px;
}
.material-symbols-outlined {
	
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

}

span.size-48{
	font-size: 48px;
}

span.size-20{
	font-size: 20px;
}

span.size-30{
	font-size:30px;
}

span.size-40{
	font-size: 40px;
}

.search-bar-container{
	display: grid;
	height: 150px;
	max-width: 100%;
	align-items: center;
	grid-template-columns: minmax(50px,50px) minmax(200px,2fr) repeat(3,minmax(50px,0.5fr));
	row-gap: 10px;
	grid-template-rows: repeat(2,50px);
}

#search-f{
	background-color:#D2DE32;
	border-radius:40px;
	border-style:none;
	height: 20px;
}

.search-bar-container button{
	border-radius: 40px;
	height: 40px;
	width: 100px;
	border-style:none;
	background-color: #D2DE32;
}
.body-container{
	background-color: #ffffff;
	color: #595f52;
	padding: 20px;
}

#search, #check, #notif{
	justify-self: end;
}

